<!DOCTYPE html>
<html lang="en">


    <head>
        <!--meta tags-->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Donor Form</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link href="" rel="icon">
        <link href="" rel="apple-touch-icon">
        <!--Imported CSS-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet" />
        <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
        <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Poppins:400,700'>
        <!--Custom CSS-->
        <link rel="stylesheet" href="../stylesheets/style.css" />


    </head>

    <body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="52" tabindex="0">

        <header>
            <!--Navbar-->
            <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand"  href="/users/home" ><strong>Blood Bank</strong></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggler">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-pills">
                            <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                        </ul>
                    </div>
                    <div class="info-box ">
                      <div class="title">
                          <a href='/users/logout' class="theme-btn btn-style-two"><span class="fa fa-lock"></span>&nbsp;Logout</a>
                      </div>
                  </div>
                </div>
            </nav><!--End Navbar-->
        </header>

        

        <!-- ======= Hero Section ======= -->
            <section id="hero" class="d-flex align-items-center">
                <div id="home"  class="container position-relative" data-aos="fade-up" data-aos-delay="500">
                <h1 >Welcome <%= user %></h1>
                <h2></h2>
                <!-- <a href="#about" class="btn-get-started scrollto">About Us</a> -->
                </div>
            </section><!-- End Hero -->

            
            <! -- ======== Data Section ========= -->

            <div class="container">
              <div class="row ">

                  <!--/row-->
                  <!-- Our Clients -->
                  <div class="col-md-9">
                      <!--Form Portlet-->
                      <div class="donation-form-outer">
                          <div class="form-portlet">
                                                           
                              <h3>Donor Information</h3>
                              <div class="row clearfix">


                                  <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                      <div class="field-label">Blood Group </div>
                                      <select name="bloodgroup" id="bloodgroup" class="custom-select-box">
                                        <option value="A-">A-</option>
                                        <option value="A+">A+</option>
                                        <option value="AB-">AB-</option>
                                        <option value="AB+">AB+</option>
                                        <option value="B-">B-</option>
                                        <option value="B+">B+</option>
                                        <option value="O-">O-</option>
                                        <option value="O+">O+</option>

                                      </select>
                                  </div>


                                  <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                      <div class="field-label">Gender </div>
                                      <select name="usergender" id="usergender" class="custom-select-box">
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>

                                      </select>
                                  </div>



                                  <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                      <div class="field-label">Birth Date </div>
                                      <select name="bdate" id="bdate" class="form-control form-group-margin">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>

                                      </select>
                                  </div>
                                  <div class="form-group col-lg-3 col-md-3 col-sm-3  col-xs-6 ">
                                      <div class="field-label">Month </div>
                                      <select name="bmonth" id="bmonth" class="form-control form-group-margin">
                                        <option value="Jan">Jan</option>
                                        <option value="Feb">Feb</option>
                                        <option value="Mar">Mar</option>
                                        <option value="Apr">Apr</option>
                                        <option value="May">May</option>
                                        <option value="Jun">Jun</option>
                                        <option value="Jul">Jul</option>
                                        <option value="Aug">Aug</option>
                                        <option value="Sep">Sep</option>
                                        <option value="Oct">Oct</option>
                                        <option value="Nov">Nov</option>
                                        <option value="Dec">Dec</option>

                                      </select>
                                  </div>
                                  <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                      <div class="field-label">Year </div>
                                      <select name="byear" id="byear" class="form-control form-group-margin">
                                        <option value="2003">2003</option>
                                        <option value="2002">2002</option>
                                        <option value="2001">2001</option>
                                        <option value="2000">2000</option>
                                        <option value="1999">1999</option>
                                        <option value="1998">1998</option>
                                        <option value="1997">1997</option>
                                        <option value="1996">1996</option>
                                        <option value="1995">1995</option>
                                        <option value="1994">1994</option>
                                        <option value="1993">1993</option>
                                        <option value="1992">1992</option>
                                        <option value="1991">1991</option>
                                        <option value="1990">1990</option>
                                        <option value="1989">1989</option>
                                        <option value="1988">1988</option>
                                        <option value="1987">1987</option>
                                        <option value="1986">1986</option>
                                        <option value="1985">1985</option>
                                        <option value="1984">1984</option>
                                        <option value="1983">1983</option>
                                        <option value="1982">1982</option>
                                        <option value="1981">1981</option>
                                        <option value="1980">1980</option>
                                        <option value="1979">1979</option>
                                        <option value="1978">1978</option>
                                        <option value="1977">1977</option>
                                        <option value="1976">1976</option>
                                        <option value="1975">1975</option>
                                        <option value="1974">1974</option>
                                        <option value="1973">1973</option>
                                        <option value="1972">1972</option>
                                        <option value="1971">1971</option>
                                        <option value="1970">1970</option>
                                        <option value="1969">1969</option>
                                        <option value="1968">1968</option>
                                        <option value="1967">1967</option>
                                        <option value="1966">1966</option>
                                        <option value="1965">1965</option>
                                        <option value="1964">1964</option>
                                        <option value="1963">1963</option>
                                        <option value="1962">1962</option>
                                        <option value="1961">1961</option>
                                        <option value="1960">1960</option>
                                        <option value="1959">1959</option>
                                        <option value="1958">1958</option>
                                        <option value="1957">1957</option>
                                        <option value="1956">1956</option>
                                        <option value="1955">1955</option>
                                        <option value="1954">1954</option>
                                        <option value="1953">1953</option>
                                        <option value="1952">1952</option>
                                        <option value="1951">1951</option>
                                        <option value="1950">1950</option>

                                      </select>
                                  </div>

                                  <div class="form-group col-lg-3 col-md-3 col-sm-3  col-xs-6">
                                      <div class="field-label">
                                          Weight 
                                      </div>
                                      <input name="weight" type="text" id="weight" placeholder="Ex 55" />
                                  </div>


                              </div>

                              
                              <h3>Contact Information</h3>
                              <div class="row ">


                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                  <div class="field-label">Address</div>
                                  <textarea name="address" rows="3" cols="20" id="address" placeholder="Enter your Full Address"></textarea>

                                </div>

                                  <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                      <div class="field-label">
                                          Pin/Zip Code 
<!--                                     <span id="ctl00_ContentPlaceHolder1_RegularExpressionValidator3" style="color:Red;visibility:hidden;">No Valid</span> -->
                                      </div>

                                      <input name="pincode" type="text" id="pincode" placeholder="Pin Code" />
                                  </div>



                                  <!-- <div class="form-group col-lg-4 col-md-4  col-sm-4 col-xs-12">
                                      <label class="field-label">
                                          State</label>
                                      <select name="state" id="state" class="form-control form-group-margin ">
                                          <option value="Andhra Pradesh">Andhra Pradesh</option>
                                          <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                          <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                          <option value="Assam">Assam</option>
                                          <option value="Bihar">Bihar</option>
                                          <option value="Chandigarh">Chandigarh</option>
                                          <option value="Chhattisgarh">Chhattisgarh</option>
                                          <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                          <option value="Daman and Diu">Daman and Diu</option>
                                          <option value="Delhi">Delhi</option>
                                          <option value="Lakshadweep">Lakshadweep</option>
                                          <option value="Puducherry">Puducherry</option>
                                          <option value="Goa">Goa</option>
                                          <option value="Gujarat">Gujarat</option>
                                          <option value="Haryana">Haryana</option>
                                          <option value="Himachal Pradesh">Himachal Pradesh</option>
                                          <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                          <option value="Jharkhand">Jharkhand</option>
                                          <option value="Karnataka">Karnataka</option>
                                          <option value="Kerala">Kerala</option>
                                          <option value="Madhya Pradesh">Madhya Pradesh</option>
                                          <option value="Maharashtra">Maharashtra</option>
                                          <option value="Manipur">Manipur</option>
                                          <option value="Meghalaya">Meghalaya</option>
                                          <option value="Mizoram">Mizoram</option>
                                          <option value="Nagaland">Nagaland</option>
                                          <option value="Odisha">Odisha</option>
                                          <option value="Punjab">Punjab</option>
                                          <option value="Rajasthan">Rajasthan</option>
                                          <option value="Sikkim">Sikkim</option>
                                          <option value="Tamil Nadu">Tamil Nadu</option>
                                          <option value="Telangana">Telangana</option>
                                          <option value="Tripura">Tripura</option>
                                          <option value="Uttar Pradesh">Uttar Pradesh</option>
                                          <option value="Uttarakhand">Uttarakhand</option>
                                          <option value="West Bengal">West Bengal</option>
                                      </select>
                                      <input type="hidden" name="ctl00$ContentPlaceHolder1$ccdState_ClientState" id="ctl00_ContentPlaceHolder1_ccdState_ClientState" />
                                  </div>
                                  <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                      <label class="field-label">
                                          District</label>
                                      <select name="ctl00$ContentPlaceHolder1$cboCity" id="ctl00_ContentPlaceHolder1_cboCity" class="form-control form-group-margin ">
                                        <option value=""></option>

                                      </select>
                                      <input type="hidden" name="ctl00$ContentPlaceHolder1$ccdCity_ClientState" id="ctl00_ContentPlaceHolder1_ccdCity_ClientState" />
                                  </div>
                                  <div class="form-group col-lg-4 col-md-4  col-sm-4 col-xs-12">
                                      <label class="field-label">
                                          City</label>
                                      <select name="ctl00$ContentPlaceHolder1$cboTeh" id="ctl00_ContentPlaceHolder1_cboTeh" class="form-control form-group-margin">
                                        <option value=""></option>

                                      </select> 
                                      <input type="hidden" name="ctl00$ContentPlaceHolder1$ccdTehasil_ClientState" id="ctl00_ContentPlaceHolder1_ccdTehasil_ClientState" /> 
                                    </div> -->
                                    <div class="form-group col-lg-4 col-md-4  col-sm-4 ">
                                      <div class="field-label">
                                          Mobile No. 
                                          <!-- <span id="ctl00_ContentPlaceHolder1_rvDigits" style="color:Red;visibility:hidden;">Valid No</span> -->
                                      </div>
                                      <input name="mobile" type="text" id="mobile" placeholder="Mobile No." />
                                    </div>
                                  <div class="form-group col-lg-12 col-md-12 ">
                                      <input type="submit" name="submit" value="Submit" onclick="" id="submit" class="theme-btn btn-style-one  pull-right" />
                                  </div>


                              </div>
                          </div>
                    </div>
                </div>
              </div>
            </div>

            

       

      

       

        <footer id="footer">
            

          
            <!-- Copyright -->
            <div class="text-center p-3 copyright">
              © 2021 Copyright:
              <a class="text-white" style="text-decoration: none;" href="">Group 20</a>
            </div>
            <!-- Copyright -->
          </footer>
          <div id="preloader"></div>

        


        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> -->
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="../js/main.js"></script>
        <script src="../js/aos.js"></script>

    </body>
</html>

